{% extends "layout.html" %}

{% block title %}
    Hamhung Hall Monitors
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="card" style="width:20rem;margin:20px 0 24px 0 text-center">
        <img class="card-img-top" src="https://fantraximg.com/logos/tmLogo_sr8tadjwku35jx6a_512.jpg" alt="" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Hamhung Hall Monitors</h4>
            <p class="card-text"><b>Previously known as:</b> Meat Cove Meatballs, Lower Juba Spud Farmers</p>
            <p class="card-text"><b>Overall record:</b> 56-82</p>
            <p class="card-text"><b>Playoff Berths:</b> 1</p>
            <p class="card-text"><b>Finals Appearances:</b> 0</p>
            <p class="card-text"><b>Jagr Cups:</b> None</p>
        </div>
    </div>
</div>

<div class="section">
    <h2>Top 10 Hamhung Hall Monitors of All-Time</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>FPts</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in hamhung_stats %}
            <tr>
                <td>{{ stat.Player }}</td>
                <td>{{ stat.Position }}</td>
                <td>{{ stat['SUM(FPTS)'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}